
.navbar-nav {
    /* margin-right: 35%; */
}


.right-margin {
    margin-right: 10px;
}

/* .carousel {
    padding: 7% 14%;
    background-image: url("images/topBackground1.jpg");
    margin-top: 10%;
} */

.top-container {
    background-image: url("images/background.jpg");
    padding: 5% 0;
}

.carousel-item {
    padding: 3% 15%;
}

.black-icon {
    filter: invert(100%);
}

.grey-card {
    color: aliceblue;
    background-color: grey;
    margin: 1%;
}
